@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

:root {
  font-family: "Dosis", sans-serif;
  color-scheme: light dark;
}

* {
  padding: 0;
  margin: 0;
}

body.light-mode {
  --color-primary: #f5f5ef;
  --color-text: #0f0f0e;
  --color-background: #e2e3e4;
  --color-button: #565554;
  --color-button-hover: #565554;
  --color-task: #ccbeaf;
  --color-day-next: #e1dbc1;
  --img-background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='16' viewBox='0 0 20 16'%3E%3Cg fill='%23382e24' fill-opacity='0.05'%3E%3Cpath fill-rule='evenodd' d='M0 .04C2.6.22 4.99 1.1 7 2.5A13.94 13.94 0 0 1 15 0h4c.34 0 .67.01 1 .04v2A12 12 0 0 0 7.17 12h5.12A7 7 0 0 1 20 7.07V14a5 5 0 0 0-3-4.58A5 5 0 0 0 14 14H0V7.07c.86.12 1.67.4 2.4.81.75-1.52 1.76-2.9 2.98-4.05C3.79 2.83 1.96 2.2 0 2.04v-2z'/%3E%3C/g%3E%3C/svg%3E");
}

body.dark-mode {
  --color-text: #e2e3e4;
  --color-background: #161616;
  --color-primary: #353333;
  --color-button: #cecbc8;
  --color-task: #a69583;
  --color-button-hover: #948983;
  --color-day-next: #656458;
  --img-background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='16' viewBox='0 0 20 16'%3E%3Cg fill='%23ffffff' fill-opacity='0.02'%3E%3Cpath fill-rule='evenodd' d='M0 .04C2.6.22 4.99 1.1 7 2.5A13.94 13.94 0 0 1 15 0h4c.34 0 .67.01 1 .04v2A12 12 0 0 0 7.17 12h5.12A7 7 0 0 1 20 7.07V14a5 5 0 0 0-3-4.58A5 5 0 0 0 14 14H0V7.07c.86.12 1.67.4 2.4.81.75-1.52 1.76-2.9 2.98-4.05C3.79 2.83 1.96 2.2 0 2.04v-2z'/%3E%3C/g%3E%3C/svg%3E");
}

body {
  font-family: var(--font-family);
  background-color: var(--color-background);
  color: var(--color-text);
  background-image: var(--img-background);
  transition: 1s;
  position: relative;
  overflow-x: hidden;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

/* ////////////////  clases para predeterminadas  ////////////////////// */
.df-c {
  display: flex;
  flex-direction: column;
}

input:focus,
:focus {
  outline: none;
}

button {
  cursor: pointer;
}

/* //////////////// Home /////////////////////////// */

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgba(249, 243, 243, 0.93);
  width: 100vw;
  font-size: 20px;
}

.home::-webkit-scrollbar {
  width: 0.4vw;
}

.home::-webkit-scrollbar-track {
  background: #f1f1f104;
}

.home::-webkit-scrollbar-thumb {
  background: #222d28bd;
  cursor: pointer;
}

.home::-webkit-scrollbar-thumb:hover {
  background: #222d28f3;
}

.first {
  margin: 120px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
}

.grid {
  width: 41vw;
  height: 390px;
  margin-bottom: 48px;
  min-width: 496px;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(1, 50%);
  border-radius: 8px;
  overflow: hidden;
  border: none;
  border-bottom: 5px solid #c0bcbca1;
  border-right: 5px solid #c0bcbca1;
}

.square {
  transition: 2s;
  width: 100%;
  height: 100%;
  min-height: 156px;
}

.square h1 {
  margin-left: 8px;
  transition: 2s;
  font-size: 1.5em;
}

.square p {
  font-size: 22px;
  padding: 0 5%;
  margin-top: 2vh;
  text-align: center;
  transition: 1s;
}

.first-texto {
  display: flex;
  width: 48vw;
  min-width: 567px;
  margin: 4vh 2vw;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.first-texto .cont-img {
  position: absolute;
  width: 227px;
  min-width: 292px;
  top: 104px;
  right: -37px;
}

.first-texto .cont-img img {
  width: 100%;
  height: 100%;
}

.first-texto > h1 {
  color: var(--color-text);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 2.2em;
  padding: 0 5%;
}

.first-texto button {
  height: 64px;
  width: 184px;
  margin: 7vh 0px 0px;
  font-size: 30px;
  padding: 0 5%;
  font-weight: bolder;
  transition: 0.7s;
}

.second {
  display: flex;
  margin-bottom: 64px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.contSecond {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.contSecond h1 {
  color: var(--color-text);
  border-bottom: 5px solid var(--color-task);
  font-size: 2em;
  padding: 0 5%;
}

.listTask {
  display: flex;
  justify-content: space-around;
  min-width: 425px;
  width: 32vw;
  height: 66px;
  background: var(--color-button);
  align-items: center;
  margin-top: 19px;
  border-radius: 4px;
  transition: 1s;
  cursor: pointer;
  border: none;
  border-bottom: 0.3vh solid #c0bcbc;
  border-right: 0.3vh solid #c0bcbc;
}

.listTask h2 {
  color: var(--color-background);
  font-size: 1.2em;
}

.listTask:hover {
  background-color: #d1c1c1e7;
  border-bottom: 0.3vh solid #3f3e3e;
  border-right: 0.3vh solid #3f3e3e;
}

.listTask:hover h2 {
  color: #85786a;
}

.listTask h2:hover {
  color: #2e2b28;
}

.third .cont-text {
  overflow: hidden;
  background-color: var(--color-task);
  width: 42vw;
  min-width: 382px;
  padding: 0 23px;
  border: none;
  border-radius: 5px;
  border-bottom: 0.3vh solid #d5caca;
  border-right: 0.2vw solid #d5caca;
}

.third .cont-text div {
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: flex;
  align-items: center;
  width: 325%;
  height: 100%;
  transition: 1s ease;
}

.third .cont-text p {
  color: var(--color-text);
  font-size: 35px;
  width: 30%;
  margin-right: 3%;
}

.third {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.third img {
  width: 27vw;
  min-width: 292px;
  margin-right: 4vw;
}

/* //////////////// login and register//////////////////////////////////// */

.login-register {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 0px;
  background-color: #a3a39fb7;
}

.main-container {
  font-size: 20px;
  position: relative;
  min-width: 363px;
  color: var(--color-text);
  background: var(--color-background);
  width: 20vw;
  height: 480px;
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  border-radius: 18px;
  border: none;
  border-right: 5px solid #2c2b2b;
  border-bottom: 5px solid #2c2b2b;
}

.main-container p {
  margin-left: 30px;
  font-size: 1.2em;
}
.main-container p span {
  cursor: pointer;
  margin-left: 10px;
  text-decoration: underline;
  color: rgba(155, 111, 111, 0.932);
}

.main-container p span:hover {
  color: var(--color-text);
}

.main-container .cont {
  position: relative;
  margin: 22px 13px;
}

.main-container label {
  position: absolute;
  top: 10px;
  left: 0px;
  font-size: 19px;
  color: transparent;
  font-family: "Arial", sans-serif;
  transition: 0.3s;
}
.main-container .show label {
  display: flex;
  position: absolute;
  top: -18px;
  left: 1px;
  font-size: 17px;
  color: var(--color-text);
  font-family: "Arial", sans-serif;
}

.main-container .cont input {
  height: 40px;
  background-color: transparent;
  border: none;
  font-size: 19px;
  border-bottom: solid var(--color-text);
  color: var(--color-text);
}

.cont.df-c input[type="password"]::placeholder {
  color: var(--color-text);
}
.cont.df-c input[type="email"]::placeholder {
  color: var(--color-text);
}
.main-container button {
  height: 50px;
  background-color: transparent;
  border: solid var(--color-text);
  color: var(--color-text);
  margin: 30px 20px 40px;
  font-size: 19px;
}

.main-container button:hover {
  background-color: rgba(73, 72, 72, 0.932);
  border: solid rgb(192, 186, 186);
  color: #f7f3f3;
}

.error {
  display: flex;
  height: 30px;
  color: var(--color-text);
  margin: 0px 2px 11px;
  justify-content: center;
}

.title {
  text-align: center;
  margin: 11px 40px;
}

.title h1 {
  font-size: 1.5em;
  font-weight: 400;
}

.img-login {
  width: 36vw;
}

.img-login img {
  width: 100%;
  height: 100%;
}

.go-back {
  position: absolute;
  cursor: pointer;
  right: -1px;
  top: -1px;
  background-color: var(--color-task);
  width: 90px;
  height: 90px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 0%);
  transition: 0.4s;
  border-radius: 0 17px 0 0;
}

.go-back:hover {
  background-color: #2c2b2b;
  color: #fff;
}

.go-back svg {
  padding-top: 17px;
  padding-right: 17px;
  transition: 0.5s;
}

.go-back:hover svg {
  padding-top: 15px;
  padding-right: 15px;
  transform: scale(1.3);
}

/* ///////////////////////// digital clock ////////////////////// */

.digital-clock {
  position: relative;
  font-size: 1.5em;
  padding: 5px 15px;
  overflow: hidden;
  margin-top: 10px;
}

.digital-clock h1 {
  font-weight: 500;
}

.linea-digital,
.linea-digital-top,
.linea-digital-left,
.linea-digital-right {
  position: absolute;
  content: "";
  background-color: #424040ce;
}

.linea-digital {
  width: 100%;
  height: 0.2vh;
  bottom: 0;
  left: 0;
  animation: moveLine 5s linear infinite;
}

.linea-digital-top {
  width: 100%;
  height: 0.2vh;
  top: 0;
  left: 0;
  animation: moveLineTop 5s linear infinite;
}

.linea-digital-right,
.linea-digital-left {
  width: 2px;
  height: 100%;
}

.linea-digital-left {
  top: 0;
  left: 0;
  animation: moveLineLeft 5s linear infinite;
}

.linea-digital-right {
  top: 0;
  right: 0;
  animation: moveLineRight 5s linear infinite;
}

@keyframes moveLine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes moveLineTop {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes moveLineLeft {
  0% {
    transform: translateY(-290%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes moveLineRight {
  0% {
    transform: translateY(290%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* ///////////////////// footer ///////////////////////// */

footer {
  display: flex;
  align-items: flex-end;
  margin-top: 100px;
}

.content {
  color: var(--color-text);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 110px;
  justify-content: space-between;
  background-color: var(--color-background);
  width: 78vw;
  border-radius: 3vw 0 0 0;
  padding: 0 30px;
  border: none;
  border-top: 12px solid var(--color-text);
}

footer h4 {
  font-size: 2vw;
  margin-bottom: 2vh;
  color: #e2d1bd;
}

.cont-links {
  display: flex;
}

.cont-links svg {
  margin: 9px;
  font-size: 2em;
  transition: 0f;
}

.cont-links svg:hover {
  color: var(--color-task);
}

.cont-links h2 {
  font-size: 2em;
  font-weight: 400;
}

.content p {
  font-size: 1em;
}

footer .cont-img {
  background-color: var(--color-background);
  border-radius: 0 10vw 0 0;
  width: 18vw;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-top: 15px solid var(--color-text);
}

footer img {
  width: 100%;
  height: 100%;
}
.inspired {
  display: flex;
}

.inspired h2 {
  font-size: 2em;
  font-weight: 400;
}

.inspired a {
  margin-left: 10px;
  font-size: 0.8em;
}

/*/////////////////// month ///////////////////////*/

.main-container-month {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 20px;
  margin-top: 85px;
}

.container {
  display: flex;
  flex-direction: column;
}

.calendar {
  width: 32vw;
  min-width: 443px;
  margin-bottom: 45px;
}

.select-day-taks {
  position: relative;
  width: 35vw;
  max-width: 587px;
  height: 711px;
  min-width: 432px;
  background: var(--color-task);
  border-radius: 5px;
  border: none;
  border-right: 0.4vh solid #706b6b;
  border-bottom: 0.4vh solid #706b6b;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1s forwards;
}

.task-cont-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  background-color: #44424030;
}

.task-cont-header h1 {
  font-weight: 500;
  font-size: 2em;
}

.top-bar-calendario {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  height: 120px;
}

.container .digital-clock {
  margin: 0 13vw 0 0;
}

.router {
  position: relative;
  display: flex;
}

.linea-navBar {
  position: absolute;
  width: 110px;
  height: 3px;
  background-color: var(--color-text);
  border-radius: 17px;
  transition: 1s;
  bottom: -3px;
}

.router h1 {
  cursor: pointer;
  font-weight: 400;
  width: 118px;
  text-align: center;
  transition: 0.5s;
  font-size: 1.8em;
}

.router h1.hover {
  transform: scale(1.1);
}

.user-setting {
  position: relative;
  display: flex;
  align-items: center;
  width: 280px;
}

.user-setting h1.hiden {
  font-size: 2.5em;
  font-weight: 500;
  opacity: 0;
  width: 0px;
  transition: 1s;
}

.user-setting h1.show {
  transition: 1s;
  width: 233px;
  font-size: 2.5em;
  font-weight: 500;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1.4s forwards;
}

.user-setting button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 39px;
  font-size: 1.6em;
}

.user-setting.hover button {
  border-bottom: 1px solid rgba(25, 38, 32, 0.952);
  border-right: 1px solid rgba(25, 38, 32, 0.986);
  background: rgba(103, 107, 105, 0.692);
}

.user-setting button svg {
  transition: 1s;
}

.user-setting.hover button svg {
  transform: rotate(200deg);
}

.setting.open {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  width: 171px;
  background: var(--color-background);
  border-radius: 5px;
  border: none;
  border-right: 4px solid var(--color-button);
  border-bottom: 4px solid var(--color-button);
  border-left: 1px solid var(--color-button);
  border-top: 1px solid var(--color-button);
  z-index: 1;
  transition: 0.5s;
}

.setting.close {
  width: 1px;
  height: 1px;
  transition: 0.5s;
}

.setting h2 {
  font-size: 1.5em;
  height: 41px;
  padding-left: 10px;
  padding-top: 5px;
  transition: 0.5s;
  font-weight: 400;
  cursor: pointer;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1.4s forwards;
}

.setting h2:hover {
  background-color: #b8b6b640;
}

.setting .linea {
  margin: auto;

  margin-bottom: 10px;
}

.date {
  width: 32vw;
  min-width: 443px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1s forwards;
  transition: 0.5s;
}

.date.close {
  width: 20vw;
  min-width: 304px;
}

.date.close h2 {
  transition: 0.5s;
  font-size: 1.2em;
}

.date h2 {
  transition: 1s;
  font-size: 1.9em;
  font-weight: 500;
}

.month-chanceMonth h2 {
  font-size: 41px;
  color: rgb(41 39 39);
}

.icons-calendar {
  display: flex;
}

.icons-calendar button {
  font-size: 1.7em;
  margin-left: 12px;
  width: 70px;
  height: 35px;
}

.date.close .icons-calendar button {
  font-size: 1.3em;
  width: 54px;
  height: 30px;
}

.days-of-week {
  width: 32vw;
  min-width: 443px;
  display: grid;
  grid-template-columns: repeat(7, 13%);
  height: 64px;
  border-radius: 5px;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1.4s forwards;
  transition: 0.5s;
}

.days-of-week.close {
  min-width: 298px;
  width: 20vw;
}

.days-of-week h2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.1em;
  font-weight: 400;
}

.days {
  width: 32vw;
  min-width: 443px;
  overflow: hidden;
  display: grid;
  height: 396px;
  gap: 1% 1%;
  grid-template-columns: repeat(7, 13.4%);
  grid-template-rows: repeat(6, 15.7%);
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1.7s forwards;
  transition: 0.5s;
}

.days.close {
  min-width: 301px;
  width: 20vw;
  height: 233px;
}

.days.close .icon-task-have svg {
  font-size: 0.6em;
}

.containers {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  border-radius: 0.5em;
  border: none;
  border-bottom: 0.3vh solid var(--color-button);
  border-right: 0.2vw solid var(--color-button);
}

.containers h1 {
  font-size: 1.2em;
  font-weight: 400;
}

.containers:hover {
  background: var(--color-task);
  border-bottom: 0.1vh solid #f1f1ef;
  border-right: 0.1vw solid #f1f1ef;
}

.containers.hover-day-select {
  background: var(--color-task);
}

.tasks {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 599px;
  margin: 15px 25px;
}

.tasks::-webkit-scrollbar {
  width: 0.4vw;
}

.tasks::-webkit-scrollbar-track {
  background: #f1f1f104;
}

.tasks::-webkit-scrollbar-thumb {
  background: #222d28bd;
  cursor: pointer;
}

.tasks::-webkit-scrollbar-thumb:hover {
  background: #222d28f3;
}

.icon-task-have {
  position: absolute;
  top: 0;
  right: 0;
}

.icon-task-have svg {
  transition: 0.5s;
}

.cont-tasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
  overflow: visible;
  border-bottom: 3px solid #51504f47;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1s forwards;
}

.welcome-text {
  width: 100%;
  height: 96%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1.6s forwards;
}

.welcome-text h2 {
  width: 236px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7em;
  text-align: center;
  cursor: pointer;
  font-weight: 300;
  color: var(--color-background);
  background-color: var(--color-button);
  border: none;
  border-radius: 4px;
  border-bottom: 2px solid var(--color-background);
  border-right: 2px solid var(--color-background);
  transition: ease 1s;
}

.welcome-text img {
  width: 341px;
  height: 350px;
}

.lines,
.lines-second,
.lines-third,
.lines-fourth {
  display: flex;
  position: absolute;
  width: 700px;
  bottom: 11px;
  white-space: nowrap;
}

.lines {
  animation: moveLines 5s linear infinite;
}

.lines-second {
  animation: moveLinesSecond 10s linear infinite;
}

.lines-third {
  animation: moveLinesThird 15s linear infinite;
}
.lines-fourth {
  animation: moveLinesFourth 20s linear infinite;
}

.lines div,
.lines-second div,
.lines-third div,
.lines-fourth div {
  background-color: var(--color-text);
  margin-left: 20px;
  height: 3px;
  width: 150px;
}

@keyframes moveLines {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes moveLinesSecond {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(200%);
  }
}

@keyframes moveLinesThird {
  0% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(300%);
  }
}
@keyframes moveLinesFourth {
  0% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(400%);
  }
}

.cont-tasks h2 {
  width: 89%;
  font-size: 1.4em;
  font-weight: 400;
  min-height: 50px;
}

.icons-add-rutine button {
  width: 55px;
  height: 39px;
  border-radius: 2px;
}

.containers:hover .icons-add-rutine button {
  border-bottom: 0.2vh solid #dad7d7;
  border-right: 0.1vw solid #dad7d7;
}

.icons-add-rutine .hover svg,
.icons-add-rutine .none:hover svg {
  transform: rotate(136deg);
}

.icons-add-rutine button svg {
  font-size: 2.4em;
  padding: 0 2%;
  transition: transform 1s ease;
}

.delete {
  display: flex;
  font-size: 1.3em;
  width: 46px;
  height: 38px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.containers.next,
.containers.former {
  background: var(--color-day-next);
}

.containers.next:hover,
.containers.former:hover {
  background-color: var(--color-primary);
  cursor: pointer;
}

.linea {
  background: var(--color-text);
  width: 80%;
  height: 2px;
  margin-top: 6px;
}

.create-task {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 60px;
}

.create-task input {
  width: 283px;
  height: 46px;
  font-size: 1.2em;
  padding: 0 2%;
  background-color: #a8a19e;
  border: none;
  border-bottom: 2px solid rgba(66, 58, 58, 0.856);
  border-right: 2px solid rgba(66, 58, 58, 0.856);
  border-radius: 4px;
  transition: 1s;
}

.create-task input:focus {
  background-color: #383635;
  border-bottom: 2px solid rgba(109, 103, 103, 0.856);
  border-right: 2px solid rgba(109, 103, 103, 0.856);
}

.create-task input::placeholder {
  color: #faeee3;
}

.create-task .add {
  border: none;
  width: 152px;
  height: 44px;
}

.create-task .add svg {
  font-size: 1.5em;
}

/* //////////////////// Day Routine ////////////////////////////// */

/* button with same style */

.title-left button,
.top-day-icons button,
.title-routine button,
.task-routine button,
.select-routine button,
.create-input,
.next-previous button,
.icons-calendar button,
.user-setting button,
.logout button,
.welcome-text button,
.create-task .add,
.first-texto button,
.icons-add-rutine button,
.delete,
.input-create-routine button,
.ideas-top button,
.ideas-cont button,
.ideas form button {
  color: var(--color-background);
  background-color: var(--color-button);
  border: none;
  border-radius: 4px;
  border-bottom: 2px solid #a9a297;
  border-right: 2px solid #a9a297;
  transition: ease 1s;
}

.icons-calendar button:hover,
.user-setting button:hover,
.ideas-top button:hover,
.icons-add-rutine button:hover,
.create-task .add:hover,
.welcome-text h2:hover,
.delete:hover,
.ideas-cont button:hover,
.ideas form button:hover,
.top-day-icons button:hover,
.title-routine button:hover,
.next-previous button:hover,
.create-input:hover,
.input-create-routine button:hover,
.first-texto button:hover {
  color: var(--color-text);
  background-color: var(--color-button-hover);
  border-bottom: 2px solid var(--color-text);
  border-right: 2px solid var(--color-text);
}

.cont-main-day {
  margin-top: 24px;
  display: flex;
  overflow-y: hidden;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cont-day-left {
  height: 705px;
}

.title-left {
  margin: 18px 8px;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1s forwards;
}

.title-left > h1 {
  color: var(--color-text);
  font-size: 2.5em;
}

.top-day-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.top-day-icons button {
  width: 64px;
  height: 41px;
}

.top-day-icons button svg {
  transition: ease 1s;
  font-size: 2em;
  transform: translateY(0);
}

.small-calendar {
  display: flex;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1.5s forwards;
}

.hours {
  width: 65vw;
  height: 739px;
  min-width: 885px;
  display: grid;
  grid-template-columns: repeat(4, 24.3%);
  grid-template-rows: repeat(6, 16.3%);
  gap: 3px;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1.6s forwards;
}

.hour {
  position: relative;
  overflow: hidden;
  min-height: 31px;
  padding: 3px 8px;
  border-radius: 4px;
  color: #2e2e2e;
  border: none;
  border-bottom: 2px solid #756a6a;
  border-right: 2px solid #756a6a;
}

.hour .title-hour h1 {
  font-weight: 400;
  color: var(--color-text);
}
.early-Morning {
  background-color: #3c5c5c9d;
  grid-column: 1;
}

.early-Morning:hover {
  background-color: #435c5c88;
  grid-column: 1;
}

.early-Morning .title-hour svg {
  color: #677299;
}

.morning {
  background-color: #a8cec9a4;
  grid-column: 2;
}

.morning:hover {
  background-color: #a2bebb;
}

.morning .title-hour svg {
  color: #c4a480;
}

.afternoon {
  background-color: #bb906bb2;
  grid-column: 3;
}

.afternoon .title-hour svg {
  color: #ffeed7;
}

.afternoon:hover {
  background-color: #b38d6c;
}

.night {
  background-color: #475984de;
  grid-column: 4;
}

.night .title-hour svg {
  color: #bbc5de;
}

.night:hover {
  background-color: #3e4e72;
}

.hour .title-hour svg,
.hour .title-hour h1 {
  font-size: 1.5em;
}

.title-hour.none svg {
  color: #f2eb38;
}

/* minicalenraio  */

.cont-days-mini {
  width: 246px;
  border-radius: 6px;
  padding: 2%;
  color: #2c2b2b;
  margin-right: 16px;
}

.days-mini {
  display: grid;
  background: #a69583;
  gap: 4px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  padding: 5px;
  border-radius: 4px;

  border-bottom: 2px solid #424241;
  border-right: 2px solid #424241;
}

.days-of-week-mini {
  background-color: #e1dfd1;
  border: none;
  padding: 1%;
  border-radius: 7px;
  border-bottom: 2px solid #847c72;
  border-right: 2px solid #847c72;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.days-of-week-mini h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  padding: 0 2%;
  font-weight: 300;
}

.day-mini-calendar {
  color: #2c2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28%;
  border: none;
  background-color: transparent;
}

.today {
  background-color: #e1dfd1;
}

.days-mini .day-mini-calendar:hover {
  background-color: #e1dfd1;
}

.days-mini .day-mini-calendar h2 {
  font-size: 1.5em;
  padding: 0 2%;
  font-weight: 100;
}
.days-mini .day-mini-calendar.next h2 {
  color: #f3e9e9;
}

.days-mini .day-mini-calendar.former h2 {
  color: #f3e9e9;
}

.days-mini .day-mini-calendar.former:hover h2,
.days-mini .day-mini-calendar.next:hover h2 {
  color: #20241c;
}

.task-day {
  margin-top: 3vh;
}

/*  */

.day-task-rotuine {
  background-color: #f5f5ef;
  border-radius: 5px;
  width: 26vw;
  border-bottom: 0.3vh solid #d5caca;
  border-right: 0.2vw solid #d5caca;
  transition: 1s ease;
}

.day-task-rotuine .icons .icons-add-rutine button {
  width: 3vw;
  height: 4.4vh;
  margin-right: 1.5vw;
}

.day-task-rotuine .icons .icons-add-rutine button svg {
  font-size: 2vw;
}

.day-task-rotuine .create-task {
  height: 25vh;
  margin-top: 4vh;
  justify-content: center;
}
.day-task-rotuine .create-task input {
  height: 6vh;
  background-color: #484747;
  width: 16vw;
  font-size: 33px;
}

.day-task-rotuine .create-task button {
  height: 5vh;
  width: 12vw;
  margin-top: 1vh;
  font-size: 24px;
}

.day-task-rotuine .tasks .cont-tasks h2,
.day-task-rotuine .tasks .cont-tasks button {
  font-size: 2vw;
}

.content-task {
  height: 58vh;
}

.day-task-rotuine .tasks {
  height: 47vh;
}

.day-task-rotuine .icons {
  margin-bottom: 4vh;
}

.title-routine {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  height: 425px;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1s forwards;
}

.title-routine .title-top {
  display: flex;
  color: rgb(41 39 39);
  text-shadow: 2px 2px 22px rgb(0 0 0 / 8%);
  border: none;
  border-bottom: 2px solid #b3ab9b;
  justify-content: space-around;
  width: 100%;
}

.title-routine h1 {
  color: var(--color-text);
  font-size: 3.5em;
  font-weight: 400;
}

.title-routine > h1:first-child {
  width: 20vw;
}

.title-routine button {
  width: 166px;
  height: 52px;
  margin: 0 16px;
}

.logout button:hover,
.welcome-text button:hover {
  background: rgb(213, 223, 219);
  color: #222d28f3;
  border-bottom: 1px solid rgb(25 38 32 / 22%);
  border-right: 1px solid rgb(25 38 32 / 22%);
}

.title-routine button h2 {
  font-size: 1.5em;
  padding: 0 2%;
  font-weight: 400;
}

.day-task-rotuine .cont-tasks h2 {
  width: 21vw;
}

.title-hour {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-routine {
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
  height: 84px;
  overflow-wrap: break-word;
}

.task-routine h2 {
  overflow-wrap: break-word;
  overflow: auto;
  font-size: 1.7em;
  font-weight: 400;
  width: 90%;
  color: var(--color-text);
}

.task-routine h2::-webkit-scrollbar {
  width: 5px;
}

.task-routine h2::-webkit-scrollbar-track {
  background: #f1f1f100;
}

.task-routine h2::-webkit-scrollbar-thumb {
  background: #404140be;
  cursor: pointer;
}

.task-routine h2::-webkit-scrollbar-thumb:hover {
  background: #222d288e;
}

.task-routine button {
  width: 40px;
  height: 35px;
  margin-left: 9px;
  margin-top: 9px;
}

.task-routine button svg {
  font-size: 2.6em;
  transition: 0.5s;
}

.task-routine button:hover,
.task-routine .none {
  border-bottom: 1px solid rgba(32, 34, 33, 0.22);
  border-right: 1px solid rgba(32, 34, 33, 0.22);
  background: rgba(148, 151, 150, 0.918);
  color: #222d28f3;
}

/* /////////// create routine ////////////*/

.cont-create {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 42px;
}

.steps-to-follow {
  width: 30%;
  min-width: 442px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 17px 40px;
}

.steps-info {
  height: 541px;
}

.days-off {
  display: grid;
  gap: 0 0.3vw;
  grid-template-columns: repeat(7, 14.3%);
  margin: 4vh 0;
}

.select-routine {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 50vw;

  margin: 16px 2px;
  min-width: 572px;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1.3s forwards;
}

.days-create {
  background-color: #c9b3ab;
  border-radius: 5px;
  border-bottom: 3px solid #6c6464;
  border-right: 3px solid #6c6464;
  transition: 1s ease;
  width: 145px;
  height: 96px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 20px 8px;
  justify-content: center;
}

.days-create:hover {
  background-color: #c4a8a8;
  border-bottom: 0.3vh solid #c2b6b6;
  border-right: 0.2vw solid #c2b6b6;
}

.select-routine > h1:first-child {
  margin-bottom: 4vh;
  font-size: 2.5vw;
  transition: 1s;
}

.days-create h1 {
  font-size: 2em;
  font-weight: 500;
}

.selected {
  background-color: #a18e6e;
  border-bottom: 0.3vh solid #302d2d;
  border-right: 0.2vw solid #302d2d;
}

.selected:hover {
  background-color: #81735a;
  border-bottom: 0.3vh solid #866a6a;
  border-right: 0.2vw solid #866a6a;
}

.lines {
  list-style: none;
}

.lines li {
  height: 0.1vh;
  background-color: #faf8f8;
  margin-bottom: 3vh;
  transition: 1s;
}

.days-create:hover .lines li {
  background-color: #d4d3d3;
}

.days-create:hover h1 {
  color: #d4d3d3;
}

.selected h1 {
  color: #593434;
}

.selected:hover h1 {
  color: #ddb7b7;
}

.selected .lines li {
  background-color: #593434;
}

.selected:hover .lines li {
  background-color: #ddb7b7;
}

.select-routine button {
  width: 10vw;
  height: 4vh;
  font-size: 1vw;
}

.select-routine button:hover {
  background: rgba(59, 175, 123, 0.176);
  color: #222d28f3;
  border-bottom: 2px solid rgb(25 38 32 / 22%);
  border-right: 2px solid rgb(25 38 32 / 22%);
}

.create-input {
  width: 50px;
  height: 35px;
}

.create-input svg {
  transition: 1s;
  font-size: 2em;
}
.create-input:hover svg {
  transform: rotate(136deg);
}

.input-create-text {
  height: 8vh;
  overflow-y: auto;
}

.input-create-text h2 {
  overflow-wrap: break-word;
  margin-top: 4px;
  border: none;
  font-size: 1.7em;
  font-weight: 300;
  color: var(--color-text);
}

.input-create-text::-webkit-scrollbar {
  width: 4px;
}

.input-create-text::-webkit-scrollbar-track {
  background: #f1f1f104;
}

.input-create-text::-webkit-scrollbar-thumb {
  background: #4d4e4ea8;
  cursor: pointer;
}

.input-create-text::-webkit-scrollbar-thumb:hover {
  background: #222d288e;
}

.add-info-routine .title-create {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-create h1 {
  color: var(--color-text);
  font-size: 2em;
  font-weight: 400;
}

.input-create-routine {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4px;
}

.input-create-routine input {
  height: 30px;
  background-color: #e0dcdc;
  color: #1b1b1a;
  width: 58%;
  font-size: 1.5em;
  padding: 0 2%;
  border: none;
  border-bottom: 2px solid rgb(67 59 59);
  border-radius: 4px;
  margin-bottom: 5px;
}

.input-create-routine input:focus {
  background-color: #383635;
  color: #fbf8f8;
  border-bottom: 2px solid rgba(109, 103, 103, 0.856);
  border-right: 2px solid rgba(109, 103, 103, 0.856);
}

.input-create-routine button {
  width: 38%;
  height: 3vh;
}

.create-input.true svg {
  transform: rotate(136deg);
}

.add-info-routine .hours .lines {
  margin-top: 4.4vh;
}

.add-info-routine .hours .lines li {
  background-color: #f5f5f5f3;
}

.next-previous button {
  width: 129px;
  height: 45px;
  font-size: 1.5em;
  margin: 0 25px;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1.3s forwards;
}

.steps {
  margin-top: 44px;
  display: flex;
  align-items: center;
  width: 207px;
  height: 74px;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1.6s forwards;
}

.steps svg {
  font-size: 90px;
  transition: 0.7s;
}

.steps .here {
  font-size: 110px;
  color: var(--color-task);
}

.steps-info img {
  width: 413px;
  transition: 1s;
}

.steps-info h1 {
  margin: 20px 0vw;
  font-size: 2.1em;
  font-weight: 400;
}

.visible {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1s forwards;
}
.on-visible {
  opacity: 0;
  transform: translateY(-20px);
}

.steps-info div {
  text-align: center;
}

/* //////////// loading ////////////// */

.cont-loading {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #435c5c00, #a1a1a12f, #435c5c00);
  position: absolute;
  top: 0;
  left: -100%;
  animation: colorTransition 2s linear infinite;
}

.cont-loading-task {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #435c5c00, #2e2d2d27, #435c5c00);
  position: absolute;
  top: 0;
  left: -100%;
  animation: colorTransition 2s linear infinite;
}

@keyframes colorTransition {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 200%;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* /////////////////////// ideas /////////////////////// */

.ideas {
  overflow: hidden;
  position: relative;
  background-color: var(--color-task);
  border: none;
  margin-top: 18px;
  border-radius: 5px;
  border-right: 0.4vh solid #706b6b;
  border-bottom: 0.4vh solid #706b6b;

  height: 50px;
  transition: 0.5s;
}

.ideas:hover {
  border-right: 0.4vh solid #8a8787;
  border-bottom: 0.4vh solid #8a8787;
}

.ideas-top {
  padding: 8px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #44424030;
}

.ideas-top h2 {
  font-size: 1.5em;
  font-weight: 400;
}

.ideas-top .cont-button {
  width: 115px;
  display: flex;
  justify-content: space-between;
}

.ideas-top button {
  width: 53px;
  height: 32px;
}

.ideas svg {
  font-size: 1.5em;
  transition: 0.5s;
}

/* chance ideas */

.ideas.open {
  height: 344px;
  max-width: 552px;
}

.ideas.open .ideas-top .open svg {
  transform: rotate(180deg);
}

/* /////////////////////// ideas /////////////////////// */

.ideas-body {
  padding: 7px;
  height: 259px;
  overflow-y: auto;
  transition: 0.5s;
  margin: 8px;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1.6s forwards;
}

.ideas-body::-webkit-scrollbar {
  width: 0.4vw;
}

.ideas-body::-webkit-scrollbar-track {
  background: #f1f1f104;
}

.ideas-body::-webkit-scrollbar-thumb {
  background: #222d28bd;
  cursor: pointer;
}

.ideas-body::-webkit-scrollbar-thumb:hover {
  background: #222d28f3;
}

.ideas-body p {
  min-height: 50px;
  font-size: 1.6em;
  max-width: 314px;
}

.ideas-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-bottom: 3px solid #51504f47;
}

.ideas-cont button {
  width: 50px;
  height: 30px;
  margin-right: 7px;
}

.ideas form {
  width: 100%;
  height: 81%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1.6s forwards;
}
.ideas form label {
  margin-top: 16px;
  font-size: 1.5em;
}

.ideas input {
  margin-top: 14px;
  width: 278px;
  height: 45px;
  font-size: 1.2em;
  padding: 0 2%;
  background-color: #a8a19e;
  border: none;
  border-bottom: 2px solid rgba(66, 58, 58, 0.856);
  border-right: 2px solid rgba(66, 58, 58, 0.856);
  border-radius: 4px;
  transition: 1s;
}

.ideas input::placeholder {
  color: var(--color-text);
}

.ideas form button {
  margin-top: 16px;
  width: 100px;
  height: 36px;
}
.ideas form button svg {
  font-size: 1.3em;
}

.ideas-top .hover svg {
  transform: rotate(0deg);
}

.ideas-top .hover svg {
  transform: rotate(136deg);
}

@media screen and (max-width: 900px) {
  .digital-clock {
    display: none;
  }
  .user-setting h1 {
    display: none;
  }
  .first-texto .cont-img {
    display: none;
  }

  .user-setting {
    width: auto;
  }

  .router {
    font-size: 15px;
  }

  .hours {
    display: flex;
    flex-direction: column;
    height: auto;
    min-width: 452px;
  }
  .img-login {
    display: none;
  }
  .content {
    font-size: 10px;
  }

  .date {
    font-size: 12px;
  }
  .second {
    height: 483px;
  }
}
